#slider
  .fullwidthbanner-container
    .fullwidthbanner
      %ul
        %li{:'data-transition' => 'fade', :'data-slotamount' => 7, :'data-masterspeed' => '300'}
          %img{:src => '/assets/slide-oveja-cojin.jpg', :'data-fullwidthcentering' => 'on', :alt => 'slidebg1',  :'data-bgfit' => 'cover', :'data-bgposition' => 'center center', :'data-bgrepeat' => 'no-repeat'}

